<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>系统配置</title>
<link rel="stylesheet" href="{$templateurl}/style/admin.css"/>
<!--<script src="{$templateurl}/script/my.js"></script>-->
</head>
<body>	
<div class="sing_count">
	<div class="title"><span style="margin-left:10px">信息导出</span></div>
	<div id="setting">
		<form action="" method="post" class="export">
			<label for="stime">开始时间:</label><input type="date" name="stime" id="stime">
			<label for="etime">结束时间:</label><input type="date" name="etime" id="etime">
			<input type="submit" value="导出" id="submit">
		</div>
		<hr/>
	</div>
	</body>
	</html>
