<!DOCTYPE>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>哆麦外贸询盘管理系统</title>
<meta name="author" content="www.hitoy.org"/>
<link rel="stylesheet" href="{$templateurl}/style/login.css"/>
</head>
<body>
<div class="login">
    <div class="note">哆麦 · 外贸询盘管理系统</div>
    <form action="./login.php" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <div class="reset">{$errormsg}</div>
        <input type="submit" value="提交"/>
    </form>
</div>
<div class="help">为保证良好的操作效果，请使用<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" style="color:red">Chrome</a>等高级浏览器</div>
</body>
</html>
