<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>网站留言管理系统 - 黎明重工科技股份有限公司</title>
<meta name="author" content="www.hitoy.org"/>
<link rel="stylesheet" href="{$templateurl}/style/login.css"/>
</head>
<body>
<div class="loginbox">
	<table>
		<form action="./login.php" method="post">
			<tr><td>用户名:</td><td><input name="username" type="text" class="key" autofocus="autofocus"/></td></tr>
			<tr><td>密  码:</td><td><input name="password" type="password" class="key" /></td></tr>
			<tr><td>&nbsp;</td><td class="resbox">{$errormsg}</td></tr>
			<tr><td colspan="2" class="discet"><input type="image" name="login" src="{$templateurl}/image/submit.gif" value="login"/></td></tr>
		</form>	
	</table>
</div>	
<div class="note">为保证良好的操作效果，请使用<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a>等高级浏览器</div>
</body>
</html>
