<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>询盘管理</title>
<link rel="stylesheet" href="{$templateurl}/style/admin.css"/>
<script src="{$templateurl}/script/my.js"></script>
<script>
var i=0;
function selectall(){
	var obj=document.getElementsByTagName("table")[0].getElementsByTagName('input');
	if(i%2==0){
		for(var j=1;j<obj.length;j++){
			obj[j].checked="checked";
		}
	}else{
		for(var j=1;j<obj.length;j++){
			obj[j].checked="";
		}
	}
	i++;
}
function selectno(){
	var obj=document.getElementsByTagName("table")[0].getElementsByTagName('input');
	for(var j=1;j<obj.length;j++){
		if(obj[j].checked){
			obj[j].checked=false;
		}else{
			obj[j].checked="checked";
		}
	}
}
//ajax 处理信息
function deal_msg(action){
	var obj=document.getElementsByTagName("table")[0].getElementsByTagName('input');
	var msg_list=new Array();
	var i=0;
	for(var j=1;j<obj.length;j++){
		if(obj[j].checked){
			msg_list[i]=obj[j].value;
			i++;
		}
	}
	if(msg_list==""){
		alert("请选择!");
		return false;
	}
	var xmlhttp;
	if(window.XMLHttpRequest){
		xmlhttp=new XMLHttpRequest();
	}else if(window.ActiveXObject){
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
		xmlhttp.open("POST","./msg.php",true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send("action="+action+"&id="+msg_list);
		xmlhttp.onreadystatechange=function(){
			if(xmlhttp.readyState==4 && xmlhttp.status==200){
				window.location.reload();
		}
	}
}
//点击列表到达信息页
$.ready(function(){
	var obj=document.getElementsByTagName("table")[0].getElementsByTagName("tr");
	(function(){
		for(var i=1;i<obj.length-2;i++){
			obj[i].onclick=function(){
				var id=this.getElementsByTagName("input")[0].value;
				window.location="./msg.php?id="+id;
			}
		}
	})(i)
		//取消table内input点击的事件冒泡
		var inputobj=document.getElementsByTagName("table")[0].getElementsByTagName("input");
	for(var i=1;i<inputobj.length;i++){
		inputobj[i].onclick=function(e){
			if(e && e.stopPropagation){
				e.stopPropagation();
			}else{
				window.event.cancelBubble = true;
			}
		}
	}
})
</script>
</head>
<body style="padding-bottom:50px;">
<div class="msg_admin">
<div class="title"><a href="javascript:window.top.location.reload()">首页</a> &gt; 信息管理</div>
<div class="query">
<form action="" method="get">
	<select name="query">
		<option selected="selected">请选择</option>
		<option value="no_deal">未处理</option>
		<option value="dealed">已处理</option>
		<option value="right">有效信息</option>
		<option value="wrong">无效信息</option>
		<option value="repeat">重复信息</option>
		<option value="all">所有记录</option>
	</select>
	<input type="submit" value="查询"/>
</div>
<table class="msg_list">
<tr><td><input type="checkbox" value="0" onclick="selectall()"/></td><td>ID</td><td>客户姓名</td><td>客户邮箱</td><td>国家</td><td>产品</td><td>提交时间</td><td>分组</td><td>状态</td></tr>

{section name=list loop=$msg_list} 
<tr class="message_list">
	<td><input type="checkbox" value="{$msg_list[list].id}"/></td>
	<td>{$msg_list[list].id}</td>
	<td>{$msg_list[list].name}</td>
	<td>{$msg_list[list].email}</td>
	<td>{$msg_list[list].country}</td>
	<td>{$msg_list[list].product}</td>
	<td>{$msg_list[list].subtime}</td>
	<td>{$msg_list[list].team}</td>
	<td>{$msg_list[list].msg_status}</td>
</tr>
{/section}

<tr>
	<td colspan="9" class="selectbar">选择:<a href="javascript:selectall();">全选</a><a href="javascript:selectno();">反选</a>
</tr>
<tr>
	<td colspan="9" class="deal">
		{if $ulv eq 1}<button onclick="deal_msg('del');return false;">删除</button>{/if}
		<button onclick="deal_msg('wrong');return false;">标记为无效</button>
		<button onclick="deal_msg('repeat');return false;">标记为重复</button>
<div id="page">
	{$pageinfo}
</div></td>
</tr>
</table>
<div>
</body>
</html>
