<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>修改用户</title>
<link rel="stylesheet" href="{$templateurl}/style/admin.css"/>
<script src="{$templateurl}/script/my.js"></script>
<script>
function checkinput(){
	var password=document.getElementsByName("password")[0].value;
	var password_ag=document.getElementsByName("password_ag")[0].value;
	if(password==""){
		alert("输入为空!");
		return false;
	}else if(password.length<5){
		alert("密码过于简单!");
		return false;
	}else if(password!=password_ag){
		alert("两次输入密码不相同!");
		return false;
	}
}
</script>
</head>
<body>
<div class="user_admin">
<div class="title"><a href="javascript:window.top.location.reload()">首页</a> > 用户管理</div>	
<table class="user_mod">
<form action="" method="post" onsubmit="return checkinput()">
	<tr><td>用户名:</td><td><input type="text" name="uname" disabled="disabled" value="{$username}"/></td></td>
<tr><td>输入密码:</td><td><input type="password" name="password"/></td></tr>
<tr><td>再次输入密码:</td><td><input type="password" name="password_ag"/></td></tr>
<tr><td colspan="2"><input type="submit" value="保存" class="butn"/><input type="reset" value="返回" class="butn" onclick="window.history.go(-1);"/></td></tr>
</form>
</table>
</div>
</body>
</html>
