* {margin:0;padding:0}
body {background:#43a8e8 url(../image/bg.gif) top left repeat-X;font-family:"微软雅黑",Arail,Verdana;}
.login {width:514;height:312px;margin:0 auto;background:url(../image/login.png) no-repeat;position:relative;z-index:888;top:200px}
.note {color:white;font-size:18px;width:100%;height:117px;line-height:150px;text-align:center;}
.reset {position:absolute;top:235;width:100%;text-align:center;font-size:12px;color:red}
input {width:166px;height:26px;line-height:20px;border:none;outline:none}
input[name="username"] {position:absolute;top:148px;left:194px}
input[name="password"] {position:absolute;top:192px;left:194}
input[type="submit"] {position:absolute;bottom:15px;left:145px;width:210px;height:30px;cursor:pointer;background:url(../image/submit.png);font-size:16px;line-height:30px;color:white}
.help {font-size:12px;position:absolute;bottom:10px;text-align:center;width:100%}
